@import "abstracts/variables";

@import "base/animations";
@import "base/common";
@import "base/masonry";

@import "pages/home";


/* ------------------------------------------------------------------
Theme: Simple Studio - Creative Bootstrap Theme
Author: Marija Zaric
------------------------------------------------------------------ */


/* ----------------------------------------------------
	FOOTER
------------------------------------------------------- */

footer {
    background-color: #727272;
    background-image: url(../images/mag.png);
    background-position: left top;
    background-repeat: repeat;
}

footer .container {
    width: 100%;
}

.section-bg-color {
    background-color: #1a1a1a;
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23050506' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.section-bg-color1 {
    background-color: #eaeaea;
    padding-top: 5.4rem;
    padding-bottom: 5.4rem;
    height: 25.6rem;
}

.section-bg-color1 h3 {
    margin-top: 4.5rem;
    font-size: 1.6rem;
    margin-left: 13rem;
}

.section-bg-color h2 {
    margin-top: 4rem;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;
    color: #E0DDDD;
    text-align: left;
}

.section-bg-color p {
    color: #E0DDDD;
    font-size: 1.4rem;
    margin-top: -1rem;
}

.icons-f {
    margin-right: 1rem;
}


/* ----------------------------------------------------
	RESPONSIVE  STYLES
------------------------------------------------------- */

@media(max-width: 1024px) {
    body {
        border: 10px solid #669999;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        margin-top: 1rem;
    }
    .designer-top span {
        font-size: 1.5rem;
    }
}

@media(max-width: 768px) {
    header {
        padding: 2rem 0;
    }
    body {
        border: none;
    }
    .designer-top {
        width: 100%;
        float: none;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        font-size: 3rem;
    }
    .image-project1 {
        position: relative;
        margin-left: 0;
        top: 0;
        padding-bottom: 1rem;
    }
    .image-project-a {
        margin-top: 0;
    }
    .image-project2 {
        position: relative;
        margin-left: 0;
        top: 0;
        padding-bottom: 1rem;
    }
    .text-projectd1 {
        margin-top: 8rem;
        width: 100%;
    }
    .speciality-info h3 {
        font-size: 1.8rem;
        line-height: 1.4;
    }
    .text-studio {
        font-size: 1.7rem;
    }
    .section-bg-color {
        width: 100%;
    }
    .section-bg-color1 {
        width: 50%;
    }
    .vertical-text-projects {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        background: transparent;
        color: #669999;
        margin-left: 29rem;
        padding: 1rem;
        text-transform: uppercase;
        text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
        float: left;
        font-size: 1.7rem;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 2rem 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse .button_container span {
        background: black;
    }
    .navbar-custom.top-nav-collapse .button_container.active span.top,
    .navbar-custom.top-nav-collapse .button_container.active span.bottom {
        background: black;
    }
}

@media(max-width: 480px) {
    header {
        padding: 2rem 0;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        font-size: 2rem;
        padding-top: 1.5rem;
    }
    body {
        border: 10px solid #669999;
    }
    figure.effect-julia h2 {
        position: relative;
        padding: 0.5rem 0;
        font-size: 1.8rem;
    }
    figure.effect-julia p {
        font-size: 1.4rem;
        padding: 2rem;
        width: 100%;
        text-align: left;
    }
    .client-logos {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .section-bg-color1 h4 {
        margin-top: 8rem;
        font-size: 1.6rem;
        margin-left: 1.2rem;
    }
    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    .grid6 {
        border: none;
    }
    .story {
        padding-bottom: 4rem;
    }
    .text-studio {
        font-size: 2rem;
    }
    .section-bg-color1 {
        width: 100%;
    }
    .navbar-custom .navbar-brand span.brand-logo {
        margin: 1.5rem 1.5rem;
    }
    .inner-projects,
    inner-team {
        margin-top: -4rem;
        padding-bottom: 5rem;
    }
    .vertical-text-projects {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        background: transparent;
        color: #669999;
        margin-left: 29rem;
        padding: 1rem;
        text-transform: uppercase;
        text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
        float: right;
        font-size: 1.7rem;
    }
}