@import "abstracts/variables";

@import "base/animations";
@import "base/common";
@import "base/masonry";

@import "pages/home";


/* ------------------------------------------------------------------
Theme: Simple Studio - Creative Bootstrap Theme
Author: Marija Zaric
------------------------------------------------------------------ */


/* ----------------------------------------------------
	NAVBAR
------------------------------------------------------- */
nav .container{
    margin-bottom: 0;
}


/* ----------------------------------------------------
	FOOTER - will move this section from _home.css at a later date
------------------------------------------------------- */



/* ----------------------------------------------------
	RESPONSIVE  STYLES
------------------------------------------------------- */

@media(max-width: 1024px) {
    body {
        border: 10px solid #D49C6B;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        margin-top: 1rem;
    }
    .designer-top span {
        font-size: 1.5rem;
    }
}

@media(max-width: 768px) {
    header {
        padding: 2rem 0;
    }
    body {
        border: none;
    }
    .designer-top {
        width: 100%;
        float: none;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        font-size: 3rem;
    }
    .image-project1 {
        position: relative;
        margin-left: 0;
        top: 0;
        padding-bottom: 1rem;
    }
    .image-project-a {
        margin-top: 0;
    }
    .image-project2 {
        position: relative;
        margin-left: 0;
        top: 0;
        padding-bottom: 1rem;
    }
    .text-projectd1 {
        margin-top: 8rem;
        width: 100%;
    }
    .speciality-info h3 {
        font-size: 1.8rem;
        line-height: 1.4;
    }
    .text-studio {
        font-size: 1.7rem;
    }
    .section-bg-color {
        width: 100%;
    }
    .section-bg-color1 {
        width: 50%;
    }
    .vertical-text-projects {
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        background: transparent;
        color: #669999;
        margin-left: 29rem;
        padding: 1rem;
        text-transform: uppercase;
        text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
        float: left;
        font-size: 1.7rem;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 2rem 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse .button_container span {
        background: black;
    }
    .navbar-custom.top-nav-collapse .button_container.active span.top,
    .navbar-custom.top-nav-collapse .button_container.active span.bottom {
        background: black;
    }
}

@media(max-width: 480px) {
    header {
        padding: 2rem 0;
    }
    .home-heading,
    .inner-heading,
    .inner-heading-team,
    .inner-projects-heading {
        font-size: 2rem;
        padding-top: 1.5rem;
    }
    body {
        border: 10px solid #D49C6B;
    }
    figure.effect-julia h2 {
        position: relative;
        padding: 0.5rem 0;
        font-size: 1.8rem;
    }
    figure.effect-julia p {
        font-size: 1.4rem;
        padding: 2rem;
        width: 100%;
        text-align: left;
    }
    .client-logos {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .section-bg-color1 h4 {
        margin-top: 8rem;
        font-size: 1.6rem;
        margin-left: 1.2rem;
    }
    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    .grid6 {
        border: none;
    }
    .story {
        padding-bottom: 4rem;
    }
    .text-studio {
        font-size: 2rem;
    }
    .section-bg-color1 {
        width: 100%;
    }
    .navbar-custom .navbar-brand span.brand-logo {
        margin: 1.5rem 1.5rem;
    }
    .inner-projects,
    inner-team {
        margin-top: -4rem;
        padding-bottom: 5rem;
    }
    .vertical-text-projects {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -ms-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -webkit-transform-origin: left top 0;
        transform-origin: left top 0;
        background: transparent;
        color: #669999;
        margin-left: 29rem;
        padding: 1rem;
        text-transform: uppercase;
        text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
        float: right;
        font-size: 1.7rem;
    }
}