/* ----------------------------------------------------
	HOME STYLES
-----------------------------------------------------*/

.skills-section, .education-section{
    margin-bottom: 3rem;
}

.banner {
    margin-top: 0;
    padding-bottom: 12rem;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
}

.block {
    background-color: #4c4752;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23050506' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    padding: 2rem;
    min-height: 30rem;
    border: 2px double white;
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    outline: 1px solid white;
    outline-offset: -2rem;
}

.block .text {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    margin-top: 5rem;
}

.block .text p {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    margin-top: 5rem;
}

.block1 {
    background-color: #eaeaea;
    padding: 2rem;
    min-height: 26rem;
}

.block1 .text {
    font-size: 2rem;
    color: black;
    font-weight: 300;
    margin-top: 4rem;
    line-height: 1.7;
    text-align: left;
}

.story {
    margin-top: 3rem;
    color: #669999;
    font-size: 1.6rem;
    text-align: left;
}

.grid {
    position: relative;
    list-style: none;
    text-align: center;
    margin-top: 4rem;
}

.grid figure {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    line-height: 1.4;
}

.grid figure img {
    position: relative;
}

.grid figure figcaption {
    padding: 2rem;
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 400;
}

.grid figure h2 span {
    font-weight: 400;
    margin-left: 1rem;
}

.grid figure p {
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

figure.effect-julia {
    background: #2f3238;
}

figure.effect-julia img {
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-julia figcaption {
    text-align: left;
}

figure.effect-julia h2 {
    position: relative;
    padding: 0.5em 0;
    font-size: 2rem;
}

figure.effect-julia p {
    display: inline-block;
    margin: 0 0 0.25rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.9);
    color: #2f3238;
    text-transform: none;
    font-weight: 400;
    font-size: 1.8rem;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-36rem, 0, 0);
    transform: translate3d(-36rem, 0, 0);
}

figure.effect-julia p:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia:hover img {
    opacity: 0.4;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}

figure.effect-julia:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.section-header{
    font-size: 3rem;
    letter-spacing: -0.5px;
    border-bottom: 2px solid #2f3238;
}

.skills-section{
    margin: 0 15% 0 5%;
    display: flex;
    flex-direction: column;
    .skill-group{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #4c4752;

        .skill-group-header{
            align-self: center;
            text-transform: uppercase;
            letter-spacing: -0.5px;

            width: 40%;
            font-size: 2.2rem;
            font-weight: 600;
            padding-right: 1rem;
        }

        .skill-group-name{
            width: 40%;
            font-size: 2rem;
            padding-right: 1rem;
        }

        .skill-group-desc{
            font-size: 1.8rem;
            line-height: 1.5;
            width: 60%;
        }
    }
}


// SECTION - WORKS

.works-section{
    display: flex;
    flex-direction: column;

    // height: 30rem;
    border: 1px solid #4c4752;
    border-radius: 4px;

    padding: 2rem;

    .works-header-title{
        text-transform: uppercase;
        letter-spacing: -0.5px;

        font-size: 2.2rem;
        font-weight: 600;
    }

    .works-text{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-bottom: 2rem;

        .works-text-header{
            display: flex;
            flex-direction: column;
            width: 50%;

            .works-header-subtitle{
                margin: auto 0;
                width: 80%;

                font-size: 1.4rem;
                line-height: 1.2;
                
                justify-self: flex-end;
            }
        }

        .works-text-desc{
            width: 60%;
            padding-top: 10rem;
            align-self: flex-end;

            font-size: 1.6rem;
            line-height: 1.2;

            .work-link{
                text-align: end;
                margin-top: 2rem;
            }

            .work-link:focus{
                color: #fff;
            }
        }
    }

    .works-images{
        justify-self: end;

        width: 100%;
        background-color: orangered;

        display: flex;
        flex-direction: row;

        .works-image{
            
            img{
                width: auto;
                height: auto;
                max-height: 30rem;
            }
        }

        .works-image:not(:last-of-type){
            margin-right: 0.8rem;
        }
    }

}


// RESPONSIVE - MOBILE
@media (max-width: 480px){
    .skills-section{
        margin: 0 2%;
    
        .section-header{
            font-size: 2.5rem;
        }
    
        .skill-group{
    
            .skill-group-header{
                width: 40%;
                font-size: 1.6rem;
                font-weight: 600;
            }
    
            .skill-group-name{
                width: 40%;
                font-size: 1.6rem;
            }
    
            .skill-group-desc{
                font-size: 1.4rem;
                width: 60%;
            }
        }
    }
      
}
